Repository elastic/helm-charts, pull requests merged in 2020-10, with the labels that each got.

#717 support tpl in logstashConfig, logstashPipeline and kibanaConfig
  kibana/templates/configmap.yaml
  logstash/templates/configmap-config.yaml
  logstash/templates/configmap-pipeline.yaml
Labels: enhancement, kibana, logstash

#820 [metricbeat] support deployment/daemonset specific metrics
  metricbeat/README.md
  metricbeat/templates/daemonset.yaml
  metricbeat/templates/deployment.yaml
  metricbeat/tests/metricbeat_test.py
  metricbeat/values.yaml
Labels: enhancement, metricbeat

#659 [filebeat] introduce dnsConfig values for the containers
  filebeat/README.md
  filebeat/templates/daemonset.yaml
  filebeat/values.yaml
Labels: feature request, filebeat

#839 [logstash] use only httpPort in headless service
  logstash/templates/service-headless.yaml
  logstash/tests/logstash_test.py
Labels: logstash

#793 Added ingress support to the logstash chart
  logstash/README.md
  logstash/templates/_helpers.tpl
  logstash/templates/ingress.yaml
  logstash/tests/logstash_test.py
  logstash/values.yaml
Labels: feature request, logstash

#767 [Metricbeat] Dont generate config if not enabled
  metricbeat/templates/configmap.yaml
  metricbeat/tests/metricbeat_test.py
Labels: enhancement, metricbeat

#872 [meta] update breaking changes file after 7.9.3/6.8.13 releases
  BREAKING_CHANGES.md
Labels: meta

#878 [elasticsearch] remove roles unavailable on 6.8
  elasticsearch/examples/multi/client.yml
  elasticsearch/examples/multi/data.yml
  elasticsearch/examples/multi/master.yml
  elasticsearch/values.yaml
Labels: bug, elasticsearch
