Repository elastic/helm-charts, pull requests merged in 2021-03, with the labels that each got.

#1086 [doc] fix markdown header
  BREAKING_CHANGES.md
Labels: docs

#1075 [apm-server] Add option loadBalancerIP to service
  apm-server/templates/service.yaml
  apm-server/tests/apmserver_test.py
  apm-server/values.yaml
Labels: apm-server, enhancement, need-backport

#1093 [7.x] [apm-server] Add option loadBalancerIP to service (#1075)
  apm-server/templates/service.yaml
  apm-server/tests/apmserver_test.py
  apm-server/values.yaml
Labels: backport

#1102 [meta] Initiate 7.12 branch
  CONTRIBUTING.md
  README.md
  apm-server/README.md
  apm-server/examples/default/README.md
  apm-server/examples/oss/README.md
  apm-server/examples/security/README.md
  elasticsearch/README.md
  elasticsearch/examples/config/README.md
  elasticsearch/examples/default/README.md
  elasticsearch/examples/docker-for-mac/README.md
  elasticsearch/examples/kubernetes-kind/README.md
  elasticsearch/examples/microk8s/README.md
  elasticsearch/examples/migration/README.md
  elasticsearch/examples/minikube/README.md
  elasticsearch/examples/multi/README.md
  elasticsearch/examples/openshift/README.md
  elasticsearch/examples/security/README.md
  elasticsearch/values.yaml
  filebeat/README.md
  filebeat/examples/default/README.md
  filebeat/examples/oss/README.md
  filebeat/examples/security/README.md
  filebeat/templates/daemonset.yaml
  kibana/README.md
  kibana/examples/default/README.md
  kibana/examples/openshift/README.md
  kibana/examples/security/README.md
  logstash/README.md
  logstash/examples/default/README.md
  logstash/examples/elasticsearch/README.md
  logstash/examples/oss/README.md
  metricbeat/README.md
  metricbeat/examples/default/README.md
  metricbeat/examples/oss/README.md
  metricbeat/examples/security/README.md
  metricbeat/templates/daemonset.yaml
Labels: meta

#1105 [elasticsearch] Add namespace to helm test command in NOTES.txt
  elasticsearch/templates/NOTES.txt
Labels: elasticsearch, enhancement

#1099 [logstash] Add option loadBalancerIP to service
  logstash/templates/service.yaml
  logstash/tests/logstash_test.py
  logstash/values.yaml
Labels: enhancement, logstash

#1111 [elasticsearch] fix network policies http additional rules
  elasticsearch/examples/networkpolicy/Makefile
  elasticsearch/examples/networkpolicy/values.yaml
  elasticsearch/templates/networkpolicy.yaml
  elasticsearch/tests/elasticsearch_test.py
Labels: bug, elasticsearch, need-backport

#1109 [elasticsearch] Mark esMajorVersion as deprecated
  elasticsearch/README.md
Labels: docs, elasticsearch

#1112 [meta] update backport config for 7.12 branch
  .backportrc.json
Labels: meta, need-backport

#1089 [elasticsearch] only configure ES_JAVA_OPTS when value is set
  elasticsearch/templates/statefulset.yaml
  elasticsearch/tests/elasticsearch_test.py
  elasticsearch/values.yaml
Labels: elasticsearch

#1121 [filebeat] fix version
  filebeat/README.md
  filebeat/examples/deployment/README.md
Labels: docs, filebeat

#1128 [meta] add helm 3.5.3 support
  README.md
  helpers/helm-tester/Dockerfile
  helpers/terraform/Dockerfile
Labels: meta
