Repository elastic/helm-charts, pull requests merged in 2021-10, with the labels that each got.

#1300 [elasticsearch]: optionally disable SA token automount
  elasticsearch/README.md
  elasticsearch/templates/statefulset.yaml
  elasticsearch/tests/elasticsearch_test.py
  elasticsearch/values.yaml
Labels: enhancement, elasticsearch

#1406 [7.x] Fix typo (#1382)
  elasticsearch/values.yaml
Labels: backport

#1405 [7.15] Fix typo (#1382)
  elasticsearch/values.yaml
Labels: backport

#1412 [7.15] [meta] add support for K8S 1.21 and remove 1.18 (#1410)
  helpers/matrix.yml
Labels: backport

#1411 [6.8] [meta] add support for K8S 1.21 and remove 1.18 (#1410)
  helpers/matrix.yml
Labels: backport

#1301 [kibana] optionally disable SA token automount
  kibana/README.md
  kibana/templates/deployment.yaml
  kibana/tests/kibana_test.py
  kibana/values.yaml
Labels: enhancement, kibana, need-backport, v7.16.0

#1403 [metricbeat] use new elasticsearch credentials
  metricbeat/README.md
  metricbeat/examples/default/test/goss-metrics.yaml
  metricbeat/examples/default/test/goss.yaml
  metricbeat/examples/oss/test/goss-metrics.yaml
  metricbeat/examples/oss/test/goss.yaml
  metricbeat/examples/oss/values.yaml
  metricbeat/examples/security/values.yaml
  metricbeat/examples/upgrade/values.yaml
  metricbeat/values.yaml
Labels: metricbeat, breaking change, v8.0.0

#1409 [all] Add support to ingress networking.k8s.io/v1 & ingressClassName
  apm-server/templates/ingress.yaml
  apm-server/values.yaml
  elasticsearch/templates/ingress.yaml
  elasticsearch/tests/elasticsearch_test.py
  elasticsearch/values.yaml
  kibana/templates/ingress.yaml
  kibana/tests/kibana_test.py
  kibana/values.yaml
  logstash/templates/ingress.yaml
  logstash/tests/logstash_test.py
  logstash/values.yaml
Labels: feature, kibana, elasticsearch, logstash, apm-server
