Repository elastic/helm-charts, pull requests merged in 2022-02, with the labels that each got.

#1555 [meta] update backport config for 7.17 branch
  .backportrc.json
Labels: meta, need-backport

#1554 [meta] Initiate 7.17 branch
  README.md
  apm-server/README.md
  apm-server/examples/default/README.md
  apm-server/examples/oss/README.md
  apm-server/examples/security/README.md
  elasticsearch/README.md
  elasticsearch/examples/config/README.md
  elasticsearch/examples/default/README.md
  elasticsearch/examples/docker-for-mac/README.md
  elasticsearch/examples/kubernetes-kind/README.md
  elasticsearch/examples/microk8s/README.md
  elasticsearch/examples/migration/README.md
  elasticsearch/examples/minikube/README.md
  elasticsearch/examples/multi/README.md
  elasticsearch/examples/openshift/README.md
  elasticsearch/examples/security/README.md
  elasticsearch/values.yaml
  filebeat/README.md
  filebeat/examples/default/README.md
  filebeat/examples/oss/README.md
  filebeat/examples/security/README.md
  filebeat/templates/daemonset.yaml
  kibana/README.md
  kibana/examples/default/README.md
  kibana/examples/openshift/README.md
  kibana/examples/security/README.md
  logstash/README.md
  logstash/examples/default/README.md
  logstash/examples/elasticsearch/README.md
  logstash/examples/oss/README.md
  metricbeat/README.md
  metricbeat/examples/default/README.md
  metricbeat/examples/oss/README.md
  metricbeat/examples/security/README.md
  metricbeat/templates/daemonset.yaml
Labels: meta

#1558 [7.17] [meta] update backport config for 7.17 branch (#1555)
  .backportrc.json
Labels: backport

#1557 [6.8] [meta] update backport config for 7.17 branch (#1555)
  .backportrc.json
Labels: backport

#1556 [meta] remove 7.x branch from backport config
  .backportrc.json
Labels: meta, need-backport

#1560 [7.17] [meta] remove 7.x branch from backport config (#1556)
  .backportrc.json
Labels: backport

#1559 [6.8] [meta] remove 7.x branch from backport config (#1556)
  .backportrc.json
Labels: backport

#1538 [elasticsearch] Move the yaml separator inside the condition
  elasticsearch/templates/poddisruptionbudget.yaml
  elasticsearch/templates/service.yaml
  elasticsearch/templates/test/test-elasticsearch-health.yaml
Labels: bug, elasticsearch, need-backport, v7.17.0

#1527 fix(APM): add pod labels
  apm-server/templates/deployment.yaml
Labels: enhancement, apm-server, need-backport

#1561 [6.8] [elasticsearch] Move the yaml separator inside the condition (#1538)
  elasticsearch/templates/poddisruptionbudget.yaml
  elasticsearch/templates/service.yaml
  elasticsearch/templates/test/test-elasticsearch-health.yaml
Labels: backport

#1562 [7.17] [elasticsearch] Move the yaml separator inside the condition (#1538)
  elasticsearch/templates/poddisruptionbudget.yaml
  elasticsearch/templates/service.yaml
  elasticsearch/templates/test/test-elasticsearch-health.yaml
Labels: backport

#1519 [elasticsearch] SSL by default
  elasticsearch/README.md
  elasticsearch/examples/config/test/goss.yaml
  elasticsearch/examples/default/test/goss.yaml
  elasticsearch/examples/multi/client.yaml
  elasticsearch/examples/multi/data.yaml
  elasticsearch/examples/multi/test/goss.yaml
  elasticsearch/examples/openshift/test/goss.yaml
  elasticsearch/examples/security/values.yaml
  elasticsearch/examples/upgrade/Makefile
  elasticsearch/examples/upgrade/test/goss.yaml
  elasticsearch/examples/upgrade/values.yaml
  elasticsearch/templates/_helpers.tpl
  elasticsearch/templates/secret-cert.yaml
  elasticsearch/templates/statefulset.yaml
  elasticsearch/tests/elasticsearch_test.py
  elasticsearch/values.yaml
Labels: enhancement, elasticsearch, breaking change

#1580 [elasticsearch] fix ServiceAccount inconsistencies
  elasticsearch/templates/_helpers.tpl
  elasticsearch/templates/rolebinding.yaml
  elasticsearch/templates/serviceaccount.yaml
  elasticsearch/templates/statefulset.yaml
Labels: elasticsearch, need-backport, v7.17.0

#1450 allow array values for extra
  logstash/README.md
  logstash/templates/statefulset.yaml
  logstash/tests/logstash_test.py
  logstash/values.yaml
Labels: enhancement, logstash, need-backport, v7.17.0

#1420 Add support to PodDisruptionBudget policy/v1
  elasticsearch/templates/poddisruptionbudget.yaml
  elasticsearch/templates/podsecuritypolicy.yaml
  logstash/templates/poddisruptionbudget.yaml
  logstash/templates/podsecuritypolicy.yaml
Labels: enhancement, elasticsearch, logstash, need-backport, v7.17.0

#1563 [meta] bump Helm version to 3.8.0
  README.md
  helpers/helm-tester/Dockerfile
  helpers/terraform/Dockerfile
  logstash/templates/poddisruptionbudget.yaml
Labels: meta, need-backport, v7.17.0
